<!DOCTYPE html>
<html lang="en" ng-app="game">
<head>
    <meta charset="UTF-8">
    <title>Speech recognition: bingo game </title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app.css" rel="stylesheet">
</head>
<body ng-controller="BingoCtrl">
<div class="container">
    <div class=row>
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered">
                <tbody ng-repeat="row in bingoBoard">
                <tr class="text-center">
                    <td ng-class="isHighlight(row[0])">{{row[0] | capitalize}}</td>
                    <td ng-class="isHighlight(row[1])">{{row[1] | capitalize}}</td>
                    <td ng-class="isHighlight(row[2])">{{row[2] | capitalize}}</td>
                    <td ng-class="isHighlight(row[3])">{{row[3] | capitalize}}</td>
                    <td ng-class="isHighlight(row[4])">{{row[4] | capitalize}}</td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-lg btn-danger"
                    ng-click="startRecognizing()">Start bingo
            </button>
            <div>
                <p class="phrase">{{transcript}}</p>
                <p>{{picked|json}}</p>
            </div>
        </div>
    </div>
</div>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/lodash/dist/lodash.min.js"></script>
<script src="/app.js"></script>
</body>
</html>