<!DOCTYPE html>
<html lang="en" ng-app="game">
<head>
    <meta charset="UTF-8">
    <title>Speech recognition: bingo game </title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app.css" rel="stylesheet">
</head>
<body ng-controller="BingoCtrl">
<table class="table table-bordered">
    <tbody ng-repeat="row in bingoBoard">
    <tr>
        <td ng-class="isHighlight(row[0])">{{row[0]}}</td>
        <td ng-class="isHighlight(row[1])">{{row[1]}}</td>
        <td ng-class="isHighlight(row[2])">{{row[2]}}</td>
        <td ng-class="isHighlight(row[3])">{{row[3]}}</td>
        <td ng-class="isHighlight(row[4])">{{row[4]}}</td>
    </tr>
    </tbody>
</table>
<button ng-disabled="disabled" ng-click="startRecognizing()">Start speech recognition</button>
<div>
    <p class="phrase">{{transcript}}</p>
    <p> {{picked|json}}</p>
</div>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/lodash/dist/lodash.min.js"></script>
<script src="/app.js"></script>
</body>
</html>